/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';


.body_cortijo{
  min-height: 60vh;
}

.footer_cortijo{
  min-height: 40vh;
}

.body_cortijo_login{
  min-height: 45vh;
}

.footer_cortijo_login{
  min-height: 30vh;
  max-height: 30vh;
}
