<div class="container-fluid center">
  <form  *ngFor="let elem of config">
    <div class="form-group">
      <label for="exampleInputEmail1">{{ elem.key }}</label>
      <input  type="name"  [(ngModel)]="elem.value" name="elem.key">
      <div *ngIg="elem.key === 'log'">
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
  </form>
</div>
