.sidebar{
    position: fixed;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
}

.sidebar-right{
    position: fixed;
    height: 100%;
    right: 0;
    padding-left: 0;
    padding-right: 0;
}

.center{
  margin-top: 5rem!important;
}
