<div class="bg-white container-flow">
      <nav class="navbar navbar-dark">
        <!-- Navbar content -->
        <ul class="nav nav-pills nav-fill">
          <li class="nav-item" (click)="device()">
            <a class="nav-link" [ngClass]="{'active': active=='device'}" routerLink="">Device</a>
          </li>
          <li class="nav-item" (click)="weather()">
            <a class="nav-link" [ngClass]="{'active': active=='weather'}">Weather</a>
          </li>
          <li class="nav-item" (click)="timer()">
            <a class="nav-link" [ngClass]="{'active': active=='timer'}">Timer</a>
          </li>
          <li class="nav-item" (click)="settings()">
            <a class="nav-link" [ngClass]="{'active': active=='settings'}">Settings</a>
          </li>
          <li class="nav-item" (click)="graphics()">
            <a class="nav-link" [ngClass]="{'active': active=='graphics'}">Graphics</a>
          </li>
          <li class="nav-item" (click)="logs()">
            <a class="nav-link" [ngClass]="{'active': active=='logs'}" routerLink="logs">logs</a>
          </li>
          <li class="nav-item">
            <a *ngIf="data" class="nav-link">Temperature:{{ data.temperature }}°C</a>
          </li>
          <li class="nav-item">
            <a *ngIf="data" class="nav-link">Humidity:{{ data.humidity }}%</a>
          </li>
        </ul>
      </nav>
</div>
