<div class="container-fluid body_cortijo" style="height: 100%; width: 100%;">
  <div class="row mt-5">
    <div class="col-3 sidebar d-none d-lg-block bg-dark">
        <nav class="navbar navbar-dark">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item" *ngFor="let sensor of sensorList" (click)="wraperGetData(sensor)">
                <a class="nav-link active text-white-50">
                  <button type="button" class="btn btn-danger">{{ sensor.name }}</button>
                </a>
              </li>
            </ul>
          </div>
        </nav>
    </div>
    <div class="col-9 sidebar-right" *ngIf="showGraphic">
        <!-- <div id="humidityGraph" style="height: 100%;"></div> -->
        <canvas id="humidityGraph" ></canvas>
    </div>
  </div>
</div>
