<div *ngIf="user" class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar bg-dark">
      <!-- <nav class=""> -->

        <!-- <div class="col-12"> -->
          <ul *ngIf="user" class="nav nav-pills nav-fill">

            <!-- <li class="nav-item" (click)="camera()">
              <a class="nav-link" [ngClass]="{'active': active=='camera'}" routerLink="camera">Cameras</a>
            </li> -->

            <li *ngIf="user" class="nav-item" (click)="task()">
              <a class="nav-link" [ngClass]="{'active': active=='task'}" routerLink="task">Task</a>
            </li>

            <li *ngIf="user" class="nav-item" (click)="device()">
              <a class="nav-link" [ngClass]="{'active': active=='device'}" routerLink="devices">Devices</a>
            </li>

            <!-- <li class="nav-item" (click)="sensor()">
              <a class="nav-link" [ngClass]="{'active': active=='sensor'}" routerLink="sensor">Sensors</a>
            </li> -->

            <li *ngIf="user" class="nav-item" (click)="wifi()">
              <a class="nav-link" [ngClass]="{'active': active=='wifi'}" routerLink="wifi">Wifi</a>
            </li>

            <li *ngIf="user" class="nav-item" (click)="photos()">
              <a class="nav-link" [ngClass]="{'active': active=='photos'}" routerLink="photos">Photos</a>
            </li>

            <li *ngIf="user" class="nav-item" (click)="files()">
              <a class="nav-link" [ngClass]="{'active': active=='files'}" routerLink="files">Files</a>
            </li>

            <li *ngIf="user" class="nav-item" (click)="requests()">
              <a class="nav-link" [ngClass]="{'active': active=='requests'}" routerLink="requests">Requests</a>
            </li>

          </ul>
          <ul class="nav nav-pills nav-fill">

            <li *ngIf="user" class="nav-item">
              <div class="nav-link">
                <a class="text-success">User: </a>
                <a class="text-light">{{ user }}</a>
              </div>
            </li>

            <li *ngIf="user" class="nav-item" (click)="users()">
              <a class="nav-link" [ngClass]="{'active': active=='users'}" routerLink="users">New user</a>
            </li>

            <li *ngIf="user" class="nav-item" (click)="config()">
              <a class="nav-link" [ngClass]="{'active': active=='config'}" routerLink="config">Config</a>
            </li>

            <li *ngIf="user" class="nav-item" (click)="logOut()">
              <a class="nav-link text-danger" [ngClass]="{'active': active=='logOut'}" routerLink="login">Log Out</a>
            </li>

          </ul>
</div>
