<div class="container-fluid bg-dark">
      <nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">

        <div class="col-12 col-ms-6">
          <ul class="nav nav-pills nav-fill">

            <li *ngIf="jwt" class="nav-item text-success">
              <a class="nav-link">User: {{ jwt }}</a>
            </li>

            <li class="nav-item" (click)="device()">
              <a class="nav-link" [ngClass]="{'active': active=='device'}" routerLink="">Device</a>
            </li>

            <li class="nav-item" (click)="sensor()">
              <a class="nav-link" [ngClass]="{'active': active=='sensor'}" routerLink="sensor">Sensor</a>
            </li>

            <li class="nav-item" (click)="photos()">
              <a class="nav-link" [ngClass]="{'active': active=='photos'}" routerLink="photos">Photos</a>
            </li>
            
            <li class="nav-item" (click)="files()">
              <a class="nav-link" [ngClass]="{'active': active=='files'}" routerLink="files">Files</a>
            </li>

            <li class="nav-item" (click)="requests()">
              <a class="nav-link" [ngClass]="{'active': active=='requests'}" routerLink="requests">Requests</a>
            </li>


            <li class="nav-item" (click)="users()">
              <a class="nav-link" [ngClass]="{'active': active=='users'}" routerLink="users">Create new user</a>
            </li>

            <li class="nav-item" (click)="logOut()">
              <a class="nav-link" [ngClass]="{'active': active=='logOut'}" routerLink="login">Log Out</a>
            </li>

            <li class="nav-item" (click)="config()">
              <a class="nav-link" [ngClass]="{'active': active=='config'}" routerLink="config">Config</a>
            </li>

          </ul>
        </div>

      </nav>
</div>
