<div class="container-fluid bg-white body center">
  <div class="col-12">
    <form>
      <div class="form-group form-row">
        <div class="col-2">
          <label for="file" class="col-form-label col-form-label-sm">Upload a file:</label>
        </div>
        <div class="col-4">
          <input (change)="fileupload($event.target.files)" id="file" class="form-control btn btn-lg btn-success btn-block m-1" type="file" name="file">
        </div>
      </div>
    </form>
  </div>
  <div *ngFor="let file of files" class="col-12">
    <button (click)="download(file)" class="btn btn-lg btn-info btn-block m-1" id="{{ file }}">
      <h2>{{ file }}</h2>
    </button>
  </div>
</div>
