<div class="container-fluid bg-white body center">
  <div *ngIf="sensorInfo" class="row justify-content-md-center m-5">
        <div>
          <h2>{{ sensorInfo.name }}</h2>
        </div>
        <div>
          <h3>{{ sensorInfo.type }}</h3>
        </div>
        <div>
          <h4>{{ sensorInfo.ip }}</h4>
        </div>
        <div>
          <h3>{{ sensorInfo.max }}</h3>
        </div>
        <div>
          <h3>{{ sensorInfo.min }}</h3>
        </div>
        <div>
          <ol *ngFor="let device of sensorInfo.devices">
            <li><h4>{{ device }}</h4></li>
          </ol>
        </div>
  </div>
</div>
