<div class="text-center bg-white container form-group center">
  <div class="row justify-content-md-center">
    <div class="col-12 col-lg-8 ">
      <form (submit)="login($event)" class="form-signin">
        <img class="mb-4" src="{{ url }}" alt="" width="72" height="72">
        <label>User</label>
        <input [(ngModel)]="userName" name="userName" class="form-control" id="userName" type="text">
        <label>Password</label>
        <input [(ngModel)]="password" name="password" class="form-control" id="password" type="password">
        <input type="submit" value="Submit" class="btn btn-primary mt-2">
      </form>
    </div>
  </div>
</div>
