<div class="text-center center">
      <form (submit)="login($event)" class="form-signin">
        <img class="mb-4" src="{{ url }}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="userName" class="sr-only">User</label>
        <input placeholder="User" [(ngModel)]="userName" name="userName" class="form-control" id="userName" type="text">
        <label for="password" class="sr-only">Password</label>
        <input placeholder="Password" [(ngModel)]="password" name="password" class="form-control" id="password" type="password">
        <button class="btn btn-lg btn-primary btn-block mt-2" type="submit">Sign in</button>
        <h2 *ngIf="fail" class="bg-danger"> Auth fail! </h2>
        <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
      </form>
</div>
