<div class="bg-dark">
  <div class="container-fluid mt-5">
    <nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
      <div class="col-12 col-ms-6">
        <ul class="nav nav-pills nav-fill">

          <li class="nav-item text-success" (click)="camera1()">
            <a class="nav-link" [ngClass]="{'active': active=='camera1'}">Camera 1</a>
          </li>

          <li class="nav-item text-success" (click)="camera2()">
            <a class="nav-link" [ngClass]="{'active': active=='camera2'}">Camera 2</a>
          </li>

        </ul>
      </div>
    </nav>
  </div>
  <div *ngIf="active=='camera1'" class="m-5">
    <embed src="http://88.8.36.129:8000/StrobeMediaPlayback1.swf" width="1280" height="720" quality="high" bgcolor="#000000" name="StrobeMediaPlayback" allowfullscreen="true" pluginspage="http://www.adobe.com/go/getflashplayer" flashvars="&amp;src=rtmp://88.8.36.129:9981/flash/11:admin:tfuvjk765frvlnj&amp;autoHideControlBar=true&amp;streamType=live&amp;autoPlay=true" type="application/x-shockwave-flash">
  </div>
  <div *ngIf="active=='camera2'" class="p-5">
    <embed src="http://88.8.36.129:8000/StrobeMediaPlayback2.swf" width="1280" height="720" quality="high" bgcolor="#000000" name="StrobeMediaPlayback" allowfullscreen="true" pluginspage="http://www.adobe.com/go/getflashplayer" flashvars="&amp;src=rtmp://88.8.36.129:9983/flash/11:YWRtaW46Y29ydGlqbw==&amp;autoHideControlBar=true&amp;streamType=live&amp;autoPlay=true" type="application/x-shockwave-flash">
  </div>
</div>
