<div class="container-fluid center" style="height: 100%; width: 100%;">
  <div class="row mt-5">
    <div class="col-2 sidebar d-none d-lg-block bg-dark">
        <nav class="navbar navbar-dark">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item" *ngFor="let sensor of sensorList" (click)="getData(sensor)">
                <a class="nav-link active text-white-50">{{ sensor.name }}</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>
    <div class="col-10 sidebar-right" *ngIf="showGraphic">
        <div id="chartContainer" style="height: 100%;"></div>
    </div>
  </div>
</div>
