<div [ngClass]="{'body_cortijo_login': status, 'body_cortijo': !status }" class="container-fluid bg-white">
  <div class="row justify-content-center mt-2 mb-1 mt-md-5 mb-md-5 mb-1 mb-md-3">
    <div class="input-group col-12 col-sm-9 col-md-6 col-lg-5 col-xl-3">
         <div class="input-group-append">
              <span class="input-group-text">Time: </span>
         </div>
         <input [(ngModel)]="lapse_time" type="number" name="lapse_time" value="5" class="form-control">
         <div class="input-group-append">
              <span class="input-group-text">minutes</span>
         </div>
    </div>
  </div>
  <div class="row justify-content-md-center mb-2 mb-md-5">
    <div *ngFor="let device of devices" class="col-12 col-sm-6 col-lg-4 col-xl-3">
      <button class="col-12 my-1" id="{{ device.name }}" [ngClass]="{'bg-primary': true, 'bg-secondary': device.status==false&&device.check==true, 'bg-success': device.status==true&&device.check==true, 'bg-danger': device.check==false}" >
        <div class="row">
          <div class="col-10" (click)="changeStatus(device)" >
            <h2>{{ device.name }} </h2>
            <h3>Status:{{ device.status }}</h3>
            <h4>{{ device.ip }}</h4>
            <h3>Check:{{ device.check }}</h3>
          </div>
          <div class="col-2 row">
            <div class="col-12">
              <button class="btn btn-outline-danger btn-sm" (click)="deleteDevice(device)">x</button>
            </div>
            <div class="col-12">
              <button class="btn btn-outline-secondary btn-sm" (click)="requestsDevice(device.name)">x</button>
            </div>
          </div>
        </div>
      </button><!-- <h2>Ip:{{ device.ip }}</h2> -->
    </div>

    <div *ngFor="let webSocketDevice of webSocketDevices" class="col-12 col-sm-6 col-md-4 col-lg-3">
      <button class="col-12 my-1" id="{{ webSocketDevice.name }}" (click)="changeWebSocketStatus(webSocketDevice)" [ngClass]="{'bg-secondary': webSocketDevice.status==false, 'bg-success': webSocketDevice.status==true}" >
        <h2>{{ webSocketDevice.name }} </h2>
        <h3>Status:{{ webSocketDevice.status }}</h3>
        <h4>{{ webSocketDevice.ip }}</h4>
      </button><!-- <h2>Ip:{{ device.ip }}</h2> -->
    </div>

    <div *ngFor="let sensor of sensors" class="col-12 col-sm-6 col-md-4 col-lg-3">
        <button class="col-12 my-1 bg-info" id="{{ sensor.name }}">
          <div class="row">
            <div class="col-10" (click)="infoSensor(sensor.name)">
              <h2>{{ sensor.name }}</h2>
              <h4>{{ sensor.type }}</h4>
              <h4>{{ sensor.ip }}</h4>
            </div>
            <div class="col-2 row">
              <div class="col-12">
                <button class="btn btn-outline-danger btn-sm" (click)="deleteSensor(sensor)">x</button>
              </div>
              <div class="col-12">
                <button class="btn btn-outline-secondary btn-sm" (click)="settingSensor(sensor.name)">x</button>
              </div>
            </div>
          </div>
        </button>
    </div>
  </div>

  <div *ngIf="lapse" class="row justify-content-md-center">
    <div class="col-3">
      <h3>Lapse= {{ lapse }}ms</h3>
    </div>
  </div>
</div>
