<div class="container-fluid bg-light p-1 p-md-2 p-lg-3 mt-5">
  <p>
    <a class="text-dark mx-5" href="https://github.com/enrikiko/cortijo">GitHub</a>
    <a class="text-dark mx-5" href="https://www.linkedin.com/in/enriqueramosmunoz/">Linkedink</a>
    <a class="text-dark mx-5" href="https://www.instagram.com/enriqueramosmunoz/">Instagram</a>
  </p>
  <p class="mx-5">Designed and built with all the love in the world by the <a class="text-dark" href="https://www.linkedin.com/in/enriqueramosmunoz/">Enrique Ramos</a></p>
  <p class="mx-5">This aplication manage the interactive Cortijo de Mazas</p>
</div>
