.photo{
  position:fixed;
  margin-top: 300px;
  margin-left: 1000px;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.center{
  margin-top: 5rem!important;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
