<div class="container-fluid bg-white body center">

  <div class="text-center center">
    <form (submit)="createTask()" class="form-signin">
      <input [(ngModel)]="task.name" name="name" id="name" type="text" class="form-control" placeholder="Task-N" aria-label="Task" aria-describedby="addon-wrapping">
      <input [(ngModel)]="task.description" name="description" id="description" type="text" class="form-control" placeholder="Description" aria-label="Description" aria-describedby="addon-wrapping">
      <button class="btn btn-lg btn-primary btn-block mt-2" (click)="createTask()" type="button" name="button" >Create task</button>
    </form>
  </div>

  <div class="row justify-content-md-center mt-1 mt-md-2">
    <div class="row col-12 col-lg-4">
      <div  class="col-12 bg-primary">
        <h1>To Do</h1>
      </div>
      <div  class="col-12">
        <button *ngFor="let taskTodo of tasksTodo" class="col-12 my-1">
          <h2>{{ taskTodo.name }}</h2>
          <h3>{{ taskTodo.description }}</h3>
          <h3>{{ taskTodo.time | date:'dd/MM/yyyy'}}</h3>
           <button class="btn btn-primary btn-sm" (click)="start(taskTodo.name)">Start</button>
        </button>
      </div>
    </div>
    <div class="row col-12 col-lg-4">
      <div  class="col-12 bg-success">
        <h1>In progress</h1>
      </div>
      <div class="col-12">
        <button *ngFor="let taskInprogres of tasksInprogres" class="col-12 my-1">
          <h2>{{ taskInprogres.name }} </h2>
          <h3>{{ taskInprogres.description }}</h3>
          <h3>{{ taskInprogres.time | date:'dd/MM/yyyy'}}</h3>
          <button class="btn btn-success btn-sm" (click)="finish(taskInprogres.name)">Done!</button>
        </button>
      </div>
    </div>
    <div class="row col-12 col-lg-4">
      <div  class="col-12 bg-secondary">
        <h1>Done</h1>
      </div>
      <div class="col-12">
        <button *ngFor="let taskDone of tasksDone" class="col-12 my-1">
          <h2>{{ taskDone.name }} </h2>
          <h3>{{ taskDone.description }}</h3>
          <h3>{{ taskDone.time | date:'dd/MM/yyyy'}}</h3>
          <button class="btn btn-secondary btn-sm" (click)="todo(taskDone.name)">TODO</button>
        </button>
      </div>
    </div>
  </div>

  <!-- <div class="row justify-content-md-center"> -->
    <!-- <div  class="col-4">
      <button *ngFor="let taskTodo of tasksTodo" class="col-12 my-1">
        <h2>{{ taskTodo.name }}</h2>
        <h3>{{ taskTodo.description }}</h3>
        <h3>{{ taskTodo.time | date:'dd/MM/yyyy'}}</h3>
         <button class="btn btn-primary btn-sm" (click)="start(taskTodo.name)">Start</button>
      </button>
    </div> -->
    <!-- <div class="col-4">
      <button *ngFor="let taskInprogres of tasksInprogres" class="col-12 my-1">
        <h2>{{ taskInprogres.name }} </h2>
        <h3>{{ taskInprogres.description }}</h3>
        <h3>{{ taskInprogres.time | date:'dd/MM/yyyy'}}</h3>
        <button class="btn btn-success btn-sm" (click)="finish(taskInprogres.name)">Done!</button>
      </button>
    </div> -->
    <!-- <div class="col-4">
      <button *ngFor="let taskDone of tasksDone" class="col-12 my-1">
        <h2>{{ taskDone.name }} </h2>
        <h3>{{ taskDone.description }}</h3>
        <h3>{{ taskDone.time | date:'dd/MM/yyyy'}}</h3>
        <button class="btn btn-secondary btn-sm" (click)="todo(taskDone.name)">TODO</button>
      </button>
    </div> -->
  <!-- </div> -->

</div>
