<div class="container-fluid bg-white body center">

  <div class="row justify-content-md-center">
    <div  class="col-4">
      <button *ngFor="let taskTodo of tasksTodo" class="col-12 my-1">
        <h2>{{ taskTodo.name }}</h2>
        <h3>{{ taskTodo.description }}</h3>
        <h3>{{ taskTodo.time }}</h3>
         <button class="btn btn-outline-danger btn-sm" (click)="start(taskTodo.name)">Start</button>
      </button>
    </div>
    <div class="col-4">
      <button *ngFor="let taskInprogres of tasksInprogres" class="col-12 my-1">
        <h2>{{ taskInprogres.name }} </h2>
        <h3>{{ taskInprogres.description }}</h3>
        <h3>{{ taskInprogres.time }}</h3>
        <button class="btn btn-outline-danger btn-sm" (click)="finish(taskTodo.name)">Done!</button>
      </button>
    </div>
    <div class="col-4">
      <button *ngFor="let taskDone of tasksDone" class="col-12 my-1">
        <h2>{{ taskDone.name }} </h2>
        <h3>{{ taskDone.description }}</h3>
        <h3>{{ taskDone.time }}</h3>
      </button>
    </div>
  </div>

</div>
