<div class="bg-white container">
      <!-- <nav class="navbar navbar-dark">
        <!-- Navbar content -->
        <ul class="nav nav-pills nav-fill">
          <li class="nav-item" (click)="normal()" >
            <a class="nav-link active" href="" [ngClass]="{'active': active=='normal'}" >Normal mode</a>
          </li>
          <li class="nav-item" (click)="off()" >
            <a class="nav-link" href="" [ngClass]="{'active': active=='off'}" >Off mode</a>
          </li>
          <li class="nav-item" (click)="alarm()" >
            <a class="nav-link" href="" [ngClass]="{'active': active=='alarm'}" >Alarm mode</a>
          </li>
        </ul>
      </nav> -->
</div>
