<div class="my-5 container">
  <div class="row">
    <div class="col-6 row">

      <div *ngFor="let date of dates" class="col-6">
        <button class="alert-success" (click)="getdate(date)">
          {{ date }}
        </button>
      </div>


      <div *ngFor="let folder of folders" class="col-6 p-1">
        <button class="alert-primary" (click)="getphoto(folder)">
          {{ folder }}
        </button>
      </div>

    </div>

    <div class="col-6" *ngIf="url">
      <img src="{{ url }}" class="img-fluid" alt="Responsive image">
    </div>

  </div>
</div>
