<div class="container-fluid row photos">
    <div class="container-fluid col-lg-6 col-12 row">

      <div class="container-fluid col-3">
        <div *ngFor="let camera of cameras" class="container-fluid">
          <button (click)="getDatesYear(camera)" type="button" class="btn btn-outline-success btn-block" name="button">{{ camera }}</button>
        </div>
      </div>

      <div class="container-fluid col-3 ">
        <div *ngFor="let year of years" class="container-fluid">
          <button (click)="getDatesMonth(year)" type="button" class="btn btn-outline-success btn-block" name="button">{{ year }}</button>
        </div>
      </div>

      <div class="container-fluid col-3">
        <div *ngFor="let month of months" class="container-fluid">
            <button (click)="getDatesDay(month)" type="button" class="btn btn-outline-success btn-block" name="button">{{ month }}</button>
        </div>
      </div>

      <div class="container-fluid col-3">
        <div *ngFor="let day of days" class="container-fluid">
            <button (click)="getPhotos(day)" type="button" class="btn btn-outline-success btn-block" name="button">{{ day }}</button>
        </div>
      </div>

      <div class="container-fluid col-3">
        <div *ngFor="let picture of photos" class="container-fluid">
            <button type="button" (click)="getPhoto(picture)" class="btn btn-outline-success btn-block" name="button">{{ picture }}</button>
        </div>
      </div>

    </div>

    <div class="container-fluid col-lg-6 col-12" *ngIf="url">
        <img src="{{ url }}" class="img-fluid" alt="Responsive image">
    </div>

</div>
