<div class="container-fluid row photos">
    <div class="container-fluid col-lg-6 col-12 row">

      <div class="container-fluid col-3 row">
        <div *ngFor="let camera of cameras" class="col-12">
          <div class="alert-secondary text-wrap" (click)="getDatesYear(camera)">
            {{ camera }}
          </div>
        </div>
      </div>

      <div class="container-fluid col-3 row">
        <div *ngFor="let date of dates" class="col-12">
          <div class="alert-success text-wrap" (click)="getDatesMonth(years)">
            {{ years }}
          </div>
        </div>
      </div>

      <div class="container-fluid col-3 row">
        <div *ngFor="let date of dates" class="col-12">
          <div class="alert-success text-wrap" (click)="getDatesDay(months)">
            {{ months }}
          </div>
        </div>
      </div>

      <div class="container-fluid col-3 row">
        <div *ngFor="let date of dates" class="col-12">
          <div class="alert-success text-wrap" (click)="getPhotos(days)">
            {{ days }}
          </div>
        </div>
      </div>

      <div class="container-fluid col-3 row">
        <div *ngFor="let folder of folders" class="col-lg-3 col-12">
          <div class="alert-primary text-wrap" (click)="getPhoto(data)">
            {{ data }}
          </div>
        </div>
      </div>

    </div>

    <div class="container-fluid col-lg-6 col-12" *ngIf="url">
        <img src="{{ url }}" class="img-fluid" alt="Responsive image">
    </div>

</div>
