.fixed-top{
  position:fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.fixed-buttom{
  position:fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.body{
  position:fixed;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}
