.fixed-top{
  position:fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.fixed-buttom{
  position:fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.fixed-center{
  position:fixed;
  margin-top: 500px;
  margin-bottom: 500px;
  width: 100%;
  overflow: hidden;
  z-index: 100;
}

.body{
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}
